.consult-pop-wrap
	button.pop-closer X
	.pop-aligner
		.consult-pop
			form(action="").form.pop-form
				.form__border
					h2.form__title Оставить заявку
					div.form-fields
						div.form-input-wrap
							input(type="hidden", name="fomrname")
						div.form-input-wrap
							input.form__input(
								type="type"
								placeholder="Имя")
						div.form-input-wrap
							input.form__input(
								type="type"
								placeholder="Телефон")
						div.form-input-wrap
							input.form__input(
								type="type"
								placeholder="Эл. почта")
						div.form-input-wrap.form-input-wrap--button
							button.primary-button.form__button Отправить заявку
					.gdpr Нажимая на эту кнопку, Вы даете согласие 
						button.gdpr__button на обработку персональных данных




.burger-menu
	.burger-nav
	.burger-contacts
