.header-wrapper
	.container.header-container

		header.header
			.header__logo
				img(src="img/0-common/logo.svg", alt="logo")
				p.header-logo-descriptor Дополнительное профессиональное образование. Лицензия №12 от 25.10.2013
			.header-search
				input(
					type="text"
					placeholder="Поиск").header__search
			.socials
				//- p.header__name Соцсети
				div.socials-list
					a.socials-item(href=`${vk}`)
						+vkIcon('socials-item__img')
					a.socials-item(href=`${instagram}`)
						+instagramIcon('socials-item__img')
					a.socials-item(href=`${facebook}`)
						+facebookIcon('socials-item__img')
					a.socials-item(href=`${youtube}`)
						+youtubeIcon('socials-item__img')
			.header-contacts
				.header-phone
					//- p.header__name Наш телефон
					a(href=`${phoneLnk}`).header__contact #{phone}
				.header-email
					//- p.header__name Наша почта
					a(href=`mailto:${email}`).header__contact #{email}
			button.header_get-consult.secondary-button Получить консультацию 
			.burger-clickable
				.burger
					span

	nav.nav.container
		.nav-list
			div.dropdown-menu-item
				a(href="#about").nav-list-item.nav-list-item--dropdown
					.nav-list-item__text Об академии
				.nav-list-item-dropdown-wrap
					.nav-list-item-dropdown
						a.dropdown-item(href="/about.html") Сведения об образовательной организации
						a.dropdown-item(href="#") Лицензии
						a.dropdown-item(href="#") Основные сведения
						a.dropdown-item(href="#") Структура и органы управления образовательной организацией
						a.dropdown-item(href="#") Документы
						a.dropdown-item(href="#") Образовательные стандарты
						a.dropdown-item(href="#") Руководство и педагогический состав
						a.dropdown-item(href="#") Вакансии
						a.dropdown-item(href="#") Отзывы
						a.dropdown-item(href="#") Реквизиты
			a(href="#meetups").nav-list-item
				.nav-list-item__text Семинары
			a(href="#meetups").nav-list-item
				.nav-list-item__text Вебинары
			a(href="#learning").nav-list-item
				.nav-list-item__text Обучение
			//- a(href="#media").nav-list-item.nav-list-item--dropdown
			a(href="#media").nav-list-item
				.nav-list-item__text Медиа
			a(href="#news").nav-list-item
				.nav-list-item__text Новости
			a(href="#testimonials").nav-list-item
				.nav-list-item__text Отзывы
			a(href="#partners").nav-list-item
				.nav-list-item__text Партнеры
			a(href="#footer").nav-list-item
				.nav-list-item__text Контакты



